html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #0fa2a9;
}

.board__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	margin-inline: auto;
	width: 30rem;
}

.game {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	gap: 5px;
}

.row {
	display: flex;
	flex-direction: row;
	height: 62px;
	gap: 5px;
}

.letter {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 62px;
	background-color: #585959;

	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.keyboard__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: 0;
	padding-bottom: 50px;
}

.non-active {
	background-color: white;
	border: 2px solid #585959;
}

.active-correct {
	background-color: #14c700;
	transform: rotateY(180deg);
}

.active-correct text {
	transform: rotateY(180deg);
}

.active-wrong {
	background-color: #585959;
}

.active-wrongplace {
	background-color: #ebd31e;
}
