html,
body {
	margin: 0;
	padding: 0;
	margin: auto;
	max-width: 500px;
	background-color: white;
}

.board_container {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: 100%;
	width: 100%;
}

.game {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 5px;
}

.game_row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 100%;
	gap: 5px;
}

.letter {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 62px;
	width: 62px;
	background-color: #585959;
	font-size: 2rem;
	color: black;

	transition: transform 0.5s;
}

.non-active {
	background-color: white;
	border: 2px solid #787c7e;
}

.active-correct {
	background-color: #6aaa64;
	border: 2px solid #6aaa64;
}

.active-wrong {
	background-color: #787c7e;
	border: 2px solid #787c7e;
}

.active-wrongplace {
	background-color: #c9b458;
	border: 2px solid #c9b458;
}

/* Keyboard Layout */
#keyboard__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

.row {
	display: flex;
	align-items: stretch;
	width: 100%;
}

.key {
	flex: 1;
	min-width: 25px;
	min-height: 35px;
	margin: 2px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	background-color: #b8b8b8;
}

.correct {
	background-color: #6aaa64;
}

.wrong-place {
	background-color: #c9b458;
}

.wrong {
	background-color: #787c7e;
}

/* Popup screen*/
.popup_screen {
	display: none;
}

.active {
	display: block;
	position: absolute;
	z-index: 2;
	background-color: white;
	width: 250px;
	height: 250px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
}

#replay {
	position: absolute;
	bottom: 0;
	transform: translate(-50%, -50%);
	margin-bottom: 5px;
	cursor: pointer;
}
